eh_cookie: ipb_member_id=xxx; ipb_pass_hash=xxx; igneous=xxx
BOT_TOKEN: xxx
admin:
  - xxx
allowed_group:
  - -100xxx

AD:
  text: 还在为没有里站号而烦恼吗?点击进入垃圾小店
  url: https://shop.mhdy.net

help_text: ""   # html格式的消息

preview_download_thread: 4  # 预览生成时下载线程
ph_token: xxx  # telegraph token
author_name: EH_Ar_Bot
author_url: https://t.me/EH_ArBot

download_folder: /download  # 下载缓存目录(末尾不加/, /做开始)
temp_folder: /temp  # 缓存目录(末尾不加/, /做开始)
rclone_upload_remote: "tg_bot:"  # rclone上传的路径
preview_url: https://pan.mhdy.net/  # 用于组合预览的直链(/结尾)

proxy: